doctype html
html(lang="en-US")
  head
    title My App
    meta(charset="UTF-8")
  body
    header
      block my_header
        p This is My Header
    main
      block my_content
        p This page intentionally left blank.
    footer
      block my_footer
        p Copyright Launch School &copyr; 2019